* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hwb(172 14% 83%);
}

:root {
  --main-transition-time: 0.5s;
}

h1 {
  color: green;
  font-weight: 700;
  letter-spacing: 6px;
  text-shadow: 2px 2px rgb(185, 190, 102);
  font-size: 40px;
  margin-top: 25px;
  text-align: center;
}

.mylist {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  height: 60px;
}

#list {
  width: 500px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  background-color: rgb(63, 131, 108);
  max-width: 100%;
}

::placeholder {
  color: red;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 1.5;
}

#list:focus-within::placeholder {
  opacity: 0;
  transition: var(--main-transition-time);
}

button {
  all: unset;
  font-size: 35px;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  background-color: #3f836c;
  transition: var(--main-transition-time);
}

button:hover {
  font-size: 40px;
  color: blue;
}

.style-tsk {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.style-word {
  width: 80%;
  font-size: 27px;
  font-weight: 500;
  height: 50px;
  line-height: 35px;
  max-width: 100%;
  text-align: center;
  background-color: #c4cdc9;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px 10px;
  overflow-x: auto;
  box-shadow: inset -3px -3px 1px 2px red;
}

.style-angry,
.style-del,
.style-star {
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 571px) {
  .style-tsk {
    width: 90%;
  }
  h1 {
    font-size: 30px;
  }
  .style-angry,
  .style-del,
  .style-star,
  button {
    font-size: 25px;
  }
}

.style-del {
  transition: var(--main-transition-time);
}

.style-del:hover {
  color: red;
  font-size: 33px;
}

.style-star:hover {
  rotate: 8deg;
  transition: var(--main-transition-time);
  color: yellow;
}

.click-style {
  color: yellow;
}

.style-angry {
  margin-right: 5px;
}

.angry {
  color: orange;
}

.up {
  position: fixed;
  bottom: 18px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  color: whitesmoke;
  font-size: 33px;
  font-weight: 700;
  cursor: pointer;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2.5s;
  background-color: green;
  opacity: 0;
  transition: var(--main-transition-time);
}

.all {
  position: fixed;
  bottom: 30px;
  left: 15px;
  padding: 10px;
  color: whitesmoke;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(255, 15, 15);
  padding: 7px;
  box-shadow: 0 0 2px rgb(112, 128, 26);
  transition: 0.5s;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.finish {
  text-decoration: line-through;
}

@keyframes move {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
